/*Page Main */
html, body {
  height: 100%;
}
 /*Light Switch*/
label {
  display: block;
  height: 25px;
  width: 100px;
  background: #eee;
  text-align: center;
  font: 14px/25px Helvetica, Arial, sans-serif;
  margin: 20px 0;
  position: fixed;
}

label:hover {
  background: #696863;
  color: #95b43b;
  cursor: pointer;
}

.check-with-label ~ label:after{
	content: "light theme";
}

.check-with-label:hover ~ label:after{
	content: "dark theme";
}
 
input#lightswitch {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.check-with-label:checked ~ label {
  background: #696863;
  color: #95b43b;
} 

.check-with-label:checked ~ label:hover {
  background: #eee;
  color: #000;
} 

.check-with-label:checked ~ label:after{
	content: "dark theme";
}

.check-with-label:checked:hover ~ label:after{
	content: "light theme";
}

/*Wrapper*/
.main {
  padding: 20px;
  width: 100%;
  height: 100%;
}

input#lightswitch:checked ~ .main {
  background: #403f3c;
}

/*Page Header Paragraphs*/
.page-header {
  width: 940px;
  margin: 0 auto 30px auto;
}
 
h1 {
  text-align: center;
  font: 70px 'Orbitron', sans-serif;
  margin-bottom: 20px;
}

 input#lightswitch:checked ~ .main .page-header h1 {
  color: #95b43b;
}

/*Page Body Paragraphs*/
.page-menu {
  width: 940px;
  margin: 0 auto 30px auto;
}
 
.page-menu p {
  width: 100%;
  float: left;
  padding: 0 20px;
  font: 15px/1.5 Helvetica, Arial, sans-serif;
}
.page-menu a {
  font: 15px/1.5 Helvetica, Arial, sans-serif;
}

.menu-btn{
	border:none;
	display:inline-block;
	outline:0;
	padding:6px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none!important;
	color:#fff;
	background-color:#fff;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}

input#lightswitch:checked ~ .main .menu-btn{
  color: #95b43b; 
  background-color: #403f3c;
}
input#lightswitch:checked ~ .main .menu-btn:hover{
  color: #95b43b; 
  background-color: #696863;
}

.menu-btn:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.menu-bar .menu-btn{
	box-shadow:none;
	background-color:inherit;
	color:inherit;
	float:left;
	position: relative;
	left: 33.33%;
}
.menu-bar .menu-btn:hover{
	background-color:#eee
}


/*Page Body Paragraphs*/
.page-body {
  width: 940px;
  margin: 0 auto 30px auto;
}
 
.page-body p {
  width: 33.33%;
  float: left;
  padding: 0 20px;
  font: 13px/1.5 Helvetica, Arial, sans-serif;
}

 input#lightswitch:checked ~ .main .page-body p {
  color: #95b43b;
}

/*Page Footer Paragraphs*/
.page-footer {
  width: 940px;
  margin: 0 auto 30px auto;
}
 
.page-footer p {
  width: 100%;
  float: center;
  text-align: center;
  padding: 0 20px;
  font: 10px/1.5 Helvetica, Arial, sans-serif;
}
.page-footer a {
  font: 10px/1.5 Helvetica, Arial, sans-serif;
}
 input#lightswitch:checked ~ .main .page-footer p {
  color: #95b43b;
}
 



