/******************************************************************
	Page Main 
*******************************************************************/
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}


.flex-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

img {
    padding: 10px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .page-body {
        padding-top: 40px;
    }

/******************************************************************
	Wrapper
******************************************************************/
.main {
    /*padding: 0 20px;*/
    background: #403f3c;
    min-height: 100vh;
    background-image: url("../images/titleBanner.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

    .main h1, h2, h3 {
        padding: 0 20px;
        font-family: Helvetica, Arial, sans-serif;
        color: #95b43b;
        text-shadow: 0px 0px 15px rgba(64,63,60,1);
    }

    .main p {
        margin: 5px 0px;
        padding: 5px 20px;
        font: 16px/1.5 Helvetica, Arial, sans-serif;
        color: lightgray;
    }

    .main a {
        font: 16px/1.5 Helvetica, Arial, sans-serif;
        text-decoration: none;
        color: lightskyblue;
    }


/******************************************************************
	Page Header Paragraphs
******************************************************************/
.page-header {
    width: 100%;
    min-height: 100px;
    /*max-height: 100px;*/
    margin: auto;
    padding: 0px 0px 0px 0px;
    background: linear-gradient(to right, rgba(64,63,60,0) 25%, rgba(64,63,60,1) 35%, rgba(64,63,60,1) 65%, rgba(64,63,60,0) 75% );
}

    .page-header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .page-header h1 {
        text-align: center;
        font: 70px 'Orbitron', sans-serif;
        padding: 0px 0px 0px 0px;
    }

/******************************************************************
	Menu Div
******************************************************************/
.page-menu {
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: auto;
    text-align: center;
    /*background-color: #403f3c;*/
    background: linear-gradient(to right, rgba(64,63,60,0) 25%, rgba(64,63,60,1) 35%, rgba(64,63,60,1) 65%, rgba(64,63,60,0) 75% );
}

    .page-menu a {
        font: 16px/1.5 Orbitron, Helvetica, Arial, sans-serif;
        text-decoration: none !important;
        color: #95b43b;
    }

/******************************************************************
	Menu Bar
******************************************************************/
.menu-bar .menu-btn {
    box-shadow: none;
    background-color: #403f3c;
    color: inherit;
    position: relative;
}

    .menu-bar .menu-btn:hover {
        background-color: #696863;
        border-bottom: 1px solid #95b43b;
        box-shadow: 0px 8px 15px -8px rgba(149, 180, 59,0.9);
    }

/******************************************************************
	Menu Buttons
******************************************************************/
.menu-btn {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none !important;
    color: #95b43b;
    background-color: #696863;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #403f3c;
    border-radius: 10px;
}

    .menu-btn:hover a {
        color: #bad764;
    }


/******************************************************************
	Menu Dropdown
******************************************************************/
.dropdown {
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    color: inherit;
    box-shadow: 0px 8px 16px -2px rgba(149, 180, 59,0.9);
}

    .dropdown-content a {
        color: #95b43b;
        background-color: #403f3c;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            color: #95b43b;
            background-color: #696863;
        }

.menu-btn.dropdown:hover .dropdown-content {
    display: block;
}

/******************************************************************
	Page Body 
******************************************************************/
.page-body {
    max-width: 860px;
    min-height: 65vh;
    min-width: 300px;
    margin: 0 auto 30px auto;
}

    .page-body p {
        background: rgba(64,63,60,0.7);
        border: 3px;
        border-radius: 10px;
    }

    .page-body .div-list {
        margin: 5px 0px;
        padding: 5px 0px 5px 20px;
        font: 16px/1.5 Helvetica, Arial, sans-serif;
        color: lightgray;
        background: rgba(64,63,60,0.5);
        border: 3px;
        border-radius: 10px;
    }

    .page-body ul {
        margin: 0px;
    }

    .page-body .div-list p {
        margin: 0px 0px;
        padding: 0px 0px;
        font: 16px/1.5 Helvetica, Arial, sans-serif;
        color: lightgray;
        background: none;
    }

    .page-body .img-link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .page-body .video {
        width: 85vw;
        height: 58vw;
        max-width: 650px;
        max-height: 365px;
    }

/******************************************************************
	Page Footer Paragraphs
******************************************************************/
.page-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

    .page-footer p {
        text-align: center;
        padding: 0 10px;
        font: 13px/1.5 Helvetica, Arial, sans-serif;
        color: #95b43b;
    }

    .page-footer a {
        font: 13px/1.5 Helvetica, Arial, sans-serif;
        color: #95b43b;
        padding: 3px 0 0 0;
    }

    .page-footer .copyright{
        margin: 0 auto;
        padding: 0;
        display: flex;
        cursor: pointer;
        text-decoration: none;
    }

    .page-footer .copyright .logo {
        display: block;
        background-image: url('../icons/webdevphill_logo.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 2px 0 0 2px;
        width: 20px;
        height: 20px;
      }
/******************************************************************
	FORM
******************************************************************/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 16px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #696863;
    color: #95b43b;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #696863;
        border-bottom: 1px solid #95b43b;
        box-shadow: 0px 8px 15px -8px rgba(149, 180, 59,0.9);
        color: #bad764;
    }

/* Add a background color and some padding around the form */
.container {
    padding: 0px 20px 0px 20px;
}

    .container label {
        display: block;
        height: 25px;
        width: 100px;
        background: rgba(64,63,60,0.7);
        border: 3px;
        border-radius: 4px;
        text-align: left;
        font: 18px/25px Helvetica, Arial, sans-serif;
        color: lightgray;
        margin: 0;
        padding: 5px 10px;
        position: inherit;
    }
