			  <div class="menu-bar">
				<div class="menu-btn"><a href="/index.html">home</a></div>
				<div class="menu-btn dropdown">
					<a href="/projects.html">projects</a>
					<!---<div class="dropdown-content">
						<a href="/games.html">games</a>
						<a href="/apps/index.html">apps</a>
						<a href="/trials.html">trials</a>
					</div> --->
				</div>
				<div class="menu-btn"><a href="/blog.html">blog</a></div>
				<div class="menu-btn"><a href="/contact.html">contact</a></div>
			  </div>
